<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.0/fullpage.min.css" integrity="sha512-RVmrWua3k1yTDEOg4Yzs2bK5+Thh7nM6jrhDq/6/5/Mwa0JbYe4pP4YMK5sqghKz01T3DgrwYc57Jaf1PSurCg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../static/css/main.css">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="#"> -->
    <title>main</title>
</head>
<body>
    <div id="fullpage"> -->
        <div class="section s1">
            <h1>Hi Dear</h1>
        </div>
        <div class="section s2">
            <h1>Some section2</h1>
        </div>
        <div class="section s3">
            <h1>Some section3</h1>
        </div>
    </div>

    <script src="../../../static/js/fullpage.js"></script>
    <script src="../../../static/js/main.js"></script>
  
</body>
</html>
