.s1 {
    background-color: rgb(40, 40, 56);
}

.s2 {
    background-color: rgb(8, 8, 19);
}

.s3 {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: aliceblue;
}

span {
    background: white !important;
}
